@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Round&family=Source+Serif+Pro:wght@300&display=swap");


body {
  background-color: rgb(241, 225, 230);
}
/* this is used to remove extra margin and padding */
* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Source Serif Pro", serif;
}

/* displaying nav bar in inline using display: flex and align items: center */
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: #9333ea;
  color: white;
}

/* gave padding in list items to make nav bar good */
nav ul li {
  padding: 0px 10px;
}

/* resizing the image */
.brand img {
  width: 58px;
  padding: 0px 8px;
}

/* aligning Musico name in center with image using display:flex and align-items: center */
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.container{
    font-family: "Source Serif Pro", serif;
    min-height: 65vh;
    background-color: white;
    margin: 30px auto;
    width: 70%;
    border-radius: 15px;
    padding: 10px;
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bottom{
    position: sticky;
    background-image: linear-gradient(to right, #7e22ce, #f43f5e);
    bottom: 0;
    color: white;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#myProgressBar{
    width:70vw;
    cursor: pointer;
}

.icons{
    margin-top: 20px;
}

.icons i{
    cursor: pointer;
    margin-left: 10px;
}

.songsItem img{
    width: 40px;
    padding: 10px;
}

.songsItem{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 300px;
    background-color: rgb(28, 29, 29);
    color: white;
    border-radius: 54px;
    opacity: .8;
    margin-top:10px ;
    cursor: pointer;
}
.songsItem:hover{
    filter: brightness(0.8);
}

.timeStamp{
    padding-left: 40px;
}
.timeStamp i{
    padding-left: 10px;
    padding-right: 10px;
}

.songsInfo{
    font-family: "Source Serif Pro", serif;
    position: absolute;
    left:14.5vw;
}
.songsInfo img{
    width: 30px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
